<!-- Character details -->
<mat-card class="character-card">
  <mat-card-header>
    <mat-card-title>{{character.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="character.imagePath" [alt]="character.name">
  <mat-card-content>
    <p>
      {{character.description}}
    </p>
  </mat-card-content>
</mat-card>


<!-- Comments section -->
<div class="comment-list">
  <div class="comment-header-row">
    <h4>Comments</h4>
    <button [routerLink]="['comment']"
    type="submit"
    mat-raised-button
    color="primary"
  >
    Comment
  </button>
  </div>
  <mat-card *ngFor="let comment of character.comments">
    <mat-card-content>{{ comment }}</mat-card-content>
  </mat-card>

</div>
